<div class="container">
  <!-- the nav bar -->
  <header>
    <mat-toolbar color="primary">
      <span>Find People</span>
    </mat-toolbar>
  </header>

  <div class="main">

    <!-- the search form  -->
    <div class="search-form">
      <form class="example-form" #searchForm="ngForm" (ngSubmit)="search(searchForm.value.name)">
        <mat-form-field class="search-input">
          <mat-label>Search By Name</mat-label>
          <input matInput placeholder="Luke Skywalker" name="name" ngModel>
        </mat-form-field>
        <div class="search-btn">
          <button type="submit" mat-raised-button color="primary">Search</button>
        </div>
      </form>
    </div>

    <div class="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <div class="error" *ngIf="err">Error getting the data</div>
    <div class="error" *ngIf="!found">Not Found !! Try with different name </div>

    <!-- All cards -->
    <div cdkDropList class="cards" (cdkDropListDropped)="drop($event)" *ngIf="people">
      <!-- loop throw all pepole array  -->
      <div *ngFor="let item of people" cdkDrag class="card">
        <!-- passing every single item to the card component to veiw the data -->
        <app-people-card [person]="item"></app-people-card>
      </div>
    </div>

  </div>
</div>